HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerClientWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerClientWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidPartnerException">
<part name="fault" element="tns:InvalidPartnerException"/>
</message>
<message name="InvalidCredentialsException">
<part name="fault" element="tns:InvalidCredentialsException"/>
</message>
<message name="createPartner">
<part name="parameters" element="tns:createPartner"/>
</message>
<message name="createPartnerResponse">
<part name="parameters" element="tns:createPartnerResponse"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="retrieveReservationsByUser">
<part name="parameters" element="tns:retrieveReservationsByUser"/>
</message>
<message name="retrieveReservationsByUserResponse">
<part name="parameters" element="tns:retrieveReservationsByUserResponse"/>
</message>
<message name="InvalidReservationException">
<part name="fault" element="tns:InvalidReservationException"/>
</message>
<message name="addReservationItem">
<part name="parameters" element="tns:addReservationItem"/>
</message>
<message name="addReservationItemResponse">
<part name="parameters" element="tns:addReservationItemResponse"/>
</message>
<message name="InvalidRoomTypeException">
<part name="fault" element="tns:InvalidRoomTypeException"/>
</message>
<message name="retrieveReservationById">
<part name="parameters" element="tns:retrieveReservationById"/>
</message>
<message name="retrieveReservationByIdResponse">
<part name="parameters" element="tns:retrieveReservationByIdResponse"/>
</message>
<message name="searchRooms">
<part name="parameters" element="tns:searchRooms"/>
</message>
<message name="searchRoomsResponse">
<part name="parameters" element="tns:searchRoomsResponse"/>
</message>
<message name="reserveRooms">
<part name="parameters" element="tns:reserveRooms"/>
</message>
<message name="reserveRoomsResponse">
<part name="parameters" element="tns:reserveRoomsResponse"/>
</message>
<message name="InvalidRoomException">
<part name="fault" element="tns:InvalidRoomException"/>
</message>
<message name="InvalidUserException">
<part name="fault" element="tns:InvalidUserException"/>
</message>
<message name="retrievePartnerByUsername">
<part name="parameters" element="tns:retrievePartnerByUsername"/>
</message>
<message name="retrievePartnerByUsernameResponse">
<part name="parameters" element="tns:retrievePartnerByUsernameResponse"/>
</message>
<message name="retrieveAllPartners">
<part name="parameters" element="tns:retrieveAllPartners"/>
</message>
<message name="retrieveAllPartnersResponse">
<part name="parameters" element="tns:retrieveAllPartnersResponse"/>
</message>
<portType name="PartnerClientWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidPartnerException" name="InvalidPartnerException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/partnerLogin/Fault/InvalidPartnerException"/>
<fault message="tns:InvalidCredentialsException" name="InvalidCredentialsException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/partnerLogin/Fault/InvalidCredentialsException"/>
</operation>
<operation name="createPartner">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/createPartnerRequest" message="tns:createPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/createPartnerResponse" message="tns:createPartnerResponse"/>
<fault message="tns:InvalidPartnerException" name="InvalidPartnerException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/createPartner/Fault/InvalidPartnerException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/createPartner/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/createPartner/Fault/InputDataValidationException"/>
</operation>
<operation name="retrieveReservationsByUser">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveReservationsByUserRequest" message="tns:retrieveReservationsByUser"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveReservationsByUserResponse" message="tns:retrieveReservationsByUserResponse"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveReservationsByUser/Fault/InvalidReservationException"/>
</operation>
<operation name="addReservationItem">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/addReservationItemRequest" message="tns:addReservationItem"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/addReservationItemResponse" message="tns:addReservationItemResponse"/>
<fault message="tns:InvalidRoomTypeException" name="InvalidRoomTypeException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/addReservationItem/Fault/InvalidRoomTypeException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/addReservationItem/Fault/InputDataValidationException"/>
</operation>
<operation name="retrieveReservationById">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveReservationByIdRequest" message="tns:retrieveReservationById"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveReservationByIdResponse" message="tns:retrieveReservationByIdResponse"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveReservationById/Fault/InvalidReservationException"/>
</operation>
<operation name="searchRooms">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/searchRoomsRequest" message="tns:searchRooms"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/searchRoomsResponse" message="tns:searchRoomsResponse"/>
</operation>
<operation name="reserveRooms">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/reserveRoomsRequest" message="tns:reserveRooms"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/reserveRoomsResponse" message="tns:reserveRoomsResponse"/>
<fault message="tns:InvalidRoomException" name="InvalidRoomException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/reserveRooms/Fault/InvalidRoomException"/>
<fault message="tns:InvalidUserException" name="InvalidUserException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/reserveRooms/Fault/InvalidUserException"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/reserveRooms/Fault/InvalidReservationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/reserveRooms/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/reserveRooms/Fault/InputDataValidationException"/>
</operation>
<operation name="retrievePartnerByUsername">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrievePartnerByUsernameRequest" message="tns:retrievePartnerByUsername"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrievePartnerByUsernameResponse" message="tns:retrievePartnerByUsernameResponse"/>
<fault message="tns:InvalidPartnerException" name="InvalidPartnerException" wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrievePartnerByUsername/Fault/InvalidPartnerException"/>
</operation>
<operation name="retrieveAllPartners">
<input wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveAllPartnersRequest" message="tns:retrieveAllPartners"/>
<output wsam:Action="http://ws.session.ejb/PartnerClientWebService/retrieveAllPartnersResponse" message="tns:retrieveAllPartnersResponse"/>
</operation>
</portType>
<binding name="PartnerClientWebServicePortBinding" type="tns:PartnerClientWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidPartnerException">
<soap:fault name="InvalidPartnerException" use="literal"/>
</fault>
<fault name="InvalidCredentialsException">
<soap:fault name="InvalidCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="createPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidPartnerException">
<soap:fault name="InvalidPartnerException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationsByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
</operation>
<operation name="addReservationItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomTypeException">
<soap:fault name="InvalidRoomTypeException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
</operation>
<operation name="searchRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserveRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomException">
<soap:fault name="InvalidRoomException" use="literal"/>
</fault>
<fault name="InvalidUserException">
<soap:fault name="InvalidUserException" use="literal"/>
</fault>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidPartnerException">
<soap:fault name="InvalidPartnerException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllPartners">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerClientWebServicePort" binding="tns:PartnerClientWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerClientWebService"/>
</port>
</service>
</definitions>