HolidayReservationSystem/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="calculateSubTotals">
<part name="parameters" element="tns:calculateSubTotals"/>
</message>
<message name="calculateSubTotalsResponse">
<part name="parameters" element="tns:calculateSubTotalsResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidPartnerException">
<part name="fault" element="tns:InvalidPartnerException"/>
</message>
<message name="InvalidCredentialsException">
<part name="fault" element="tns:InvalidCredentialsException"/>
</message>
<message name="retrieveReservationsByUser">
<part name="parameters" element="tns:retrieveReservationsByUser"/>
</message>
<message name="retrieveReservationsByUserResponse">
<part name="parameters" element="tns:retrieveReservationsByUserResponse"/>
</message>
<message name="InvalidReservationException">
<part name="fault" element="tns:InvalidReservationException"/>
</message>
<message name="addReservationItem">
<part name="parameters" element="tns:addReservationItem"/>
</message>
<message name="addReservationItemResponse">
<part name="parameters" element="tns:addReservationItemResponse"/>
</message>
<message name="InvalidRoomTypeException">
<part name="fault" element="tns:InvalidRoomTypeException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="retrieveReservationById">
<part name="parameters" element="tns:retrieveReservationById"/>
</message>
<message name="retrieveReservationByIdResponse">
<part name="parameters" element="tns:retrieveReservationByIdResponse"/>
</message>
<message name="searchRooms">
<part name="parameters" element="tns:searchRooms"/>
</message>
<message name="searchRoomsResponse">
<part name="parameters" element="tns:searchRoomsResponse"/>
</message>
<message name="reserveRooms">
<part name="parameters" element="tns:reserveRooms"/>
</message>
<message name="reserveRoomsResponse">
<part name="parameters" element="tns:reserveRoomsResponse"/>
</message>
<message name="InvalidRoomException">
<part name="fault" element="tns:InvalidRoomException"/>
</message>
<message name="InvalidUserException">
<part name="fault" element="tns:InvalidUserException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="retrievePartnerByUsername">
<part name="parameters" element="tns:retrievePartnerByUsername"/>
</message>
<message name="retrievePartnerByUsernameResponse">
<part name="parameters" element="tns:retrievePartnerByUsernameResponse"/>
</message>
<message name="retrieveAllPartners">
<part name="parameters" element="tns:retrieveAllPartners"/>
</message>
<message name="retrieveAllPartnersResponse">
<part name="parameters" element="tns:retrieveAllPartnersResponse"/>
</message>
<message name="retrieveReservationDateTimesByUser">
<part name="parameters" element="tns:retrieveReservationDateTimesByUser"/>
</message>
<message name="retrieveReservationDateTimesByUserResponse">
<part name="parameters" element="tns:retrieveReservationDateTimesByUserResponse"/>
</message>
<message name="retrieveCheckOutDatesByUser">
<part name="parameters" element="tns:retrieveCheckOutDatesByUser"/>
</message>
<message name="retrieveCheckOutDatesByUserResponse">
<part name="parameters" element="tns:retrieveCheckOutDatesByUserResponse"/>
</message>
<message name="retrieveCheckInDatesByUser">
<part name="parameters" element="tns:retrieveCheckInDatesByUser"/>
</message>
<message name="retrieveCheckInDatesByUserResponse">
<part name="parameters" element="tns:retrieveCheckInDatesByUserResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="calculateSubTotals">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/calculateSubTotalsRequest" message="tns:calculateSubTotals"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/calculateSubTotalsResponse" message="tns:calculateSubTotalsResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidPartnerException" name="InvalidPartnerException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidPartnerException"/>
<fault message="tns:InvalidCredentialsException" name="InvalidCredentialsException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidCredentialsException"/>
</operation>
<operation name="retrieveReservationsByUser">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationsByUserRequest" message="tns:retrieveReservationsByUser"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationsByUserResponse" message="tns:retrieveReservationsByUserResponse"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationsByUser/Fault/InvalidReservationException"/>
</operation>
<operation name="addReservationItem">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/addReservationItemRequest" message="tns:addReservationItem"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/addReservationItemResponse" message="tns:addReservationItemResponse"/>
<fault message="tns:InvalidRoomTypeException" name="InvalidRoomTypeException" wsam:Action="http://ws.session.ejb/PartnerWebService/addReservationItem/Fault/InvalidRoomTypeException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/addReservationItem/Fault/InputDataValidationException"/>
</operation>
<operation name="retrieveReservationById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationByIdRequest" message="tns:retrieveReservationById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationByIdResponse" message="tns:retrieveReservationByIdResponse"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationById/Fault/InvalidReservationException"/>
</operation>
<operation name="searchRooms">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoomsRequest" message="tns:searchRooms"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoomsResponse" message="tns:searchRoomsResponse"/>
</operation>
<operation name="reserveRooms">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomsRequest" message="tns:reserveRooms"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomsResponse" message="tns:reserveRoomsResponse"/>
<fault message="tns:InvalidRoomException" name="InvalidRoomException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRooms/Fault/InvalidRoomException"/>
<fault message="tns:InvalidUserException" name="InvalidUserException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRooms/Fault/InvalidUserException"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRooms/Fault/InvalidReservationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRooms/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRooms/Fault/InputDataValidationException"/>
</operation>
<operation name="retrievePartnerByUsername">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsernameRequest" message="tns:retrievePartnerByUsername"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsernameResponse" message="tns:retrievePartnerByUsernameResponse"/>
<fault message="tns:InvalidPartnerException" name="InvalidPartnerException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsername/Fault/InvalidPartnerException"/>
</operation>
<operation name="retrieveAllPartners">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllPartnersRequest" message="tns:retrieveAllPartners"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllPartnersResponse" message="tns:retrieveAllPartnersResponse"/>
</operation>
<operation name="retrieveReservationDateTimesByUser">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationDateTimesByUserRequest" message="tns:retrieveReservationDateTimesByUser"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationDateTimesByUserResponse" message="tns:retrieveReservationDateTimesByUserResponse"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationDateTimesByUser/Fault/InvalidReservationException"/>
</operation>
<operation name="retrieveCheckOutDatesByUser">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCheckOutDatesByUserRequest" message="tns:retrieveCheckOutDatesByUser"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCheckOutDatesByUserResponse" message="tns:retrieveCheckOutDatesByUserResponse"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCheckOutDatesByUser/Fault/InvalidReservationException"/>
</operation>
<operation name="retrieveCheckInDatesByUser">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCheckInDatesByUserRequest" message="tns:retrieveCheckInDatesByUser"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCheckInDatesByUserResponse" message="tns:retrieveCheckInDatesByUserResponse"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCheckInDatesByUser/Fault/InvalidReservationException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="calculateSubTotals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidPartnerException">
<soap:fault name="InvalidPartnerException" use="literal"/>
</fault>
<fault name="InvalidCredentialsException">
<soap:fault name="InvalidCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationsByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
</operation>
<operation name="addReservationItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomTypeException">
<soap:fault name="InvalidRoomTypeException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
</operation>
<operation name="searchRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserveRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomException">
<soap:fault name="InvalidRoomException" use="literal"/>
</fault>
<fault name="InvalidUserException">
<soap:fault name="InvalidUserException" use="literal"/>
</fault>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidPartnerException">
<soap:fault name="InvalidPartnerException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllPartners">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationDateTimesByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCheckOutDatesByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCheckInDatesByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>