HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/ReservationManagerWebService/ReservationManagerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationManagerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationManagerWebService/ReservationManagerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addReservationItem">
<part name="parameters" element="tns:addReservationItem"/>
</message>
<message name="addReservationItemResponse">
<part name="parameters" element="tns:addReservationItemResponse"/>
</message>
<message name="InvalidRoomTypeException">
<part name="fault" element="tns:InvalidRoomTypeException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="searchRooms">
<part name="parameters" element="tns:searchRooms"/>
</message>
<message name="searchRoomsResponse">
<part name="parameters" element="tns:searchRoomsResponse"/>
</message>
<message name="reserveRooms">
<part name="parameters" element="tns:reserveRooms"/>
</message>
<message name="reserveRoomsResponse">
<part name="parameters" element="tns:reserveRoomsResponse"/>
</message>
<message name="InvalidRoomException">
<part name="fault" element="tns:InvalidRoomException"/>
</message>
<message name="InvalidUserException">
<part name="fault" element="tns:InvalidUserException"/>
</message>
<message name="InvalidReservationException">
<part name="fault" element="tns:InvalidReservationException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<portType name="ReservationManagerWebService">
<operation name="addReservationItem">
<input wsam:Action="http://ws.session.ejb/ReservationManagerWebService/addReservationItemRequest" message="tns:addReservationItem"/>
<output wsam:Action="http://ws.session.ejb/ReservationManagerWebService/addReservationItemResponse" message="tns:addReservationItemResponse"/>
<fault message="tns:InvalidRoomTypeException" name="InvalidRoomTypeException" wsam:Action="http://ws.session.ejb/ReservationManagerWebService/addReservationItem/Fault/InvalidRoomTypeException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationManagerWebService/addReservationItem/Fault/InputDataValidationException"/>
</operation>
<operation name="searchRooms">
<input wsam:Action="http://ws.session.ejb/ReservationManagerWebService/searchRoomsRequest" message="tns:searchRooms"/>
<output wsam:Action="http://ws.session.ejb/ReservationManagerWebService/searchRoomsResponse" message="tns:searchRoomsResponse"/>
</operation>
<operation name="reserveRooms">
<input wsam:Action="http://ws.session.ejb/ReservationManagerWebService/reserveRoomsRequest" message="tns:reserveRooms"/>
<output wsam:Action="http://ws.session.ejb/ReservationManagerWebService/reserveRoomsResponse" message="tns:reserveRoomsResponse"/>
<fault message="tns:InvalidRoomException" name="InvalidRoomException" wsam:Action="http://ws.session.ejb/ReservationManagerWebService/reserveRooms/Fault/InvalidRoomException"/>
<fault message="tns:InvalidUserException" name="InvalidUserException" wsam:Action="http://ws.session.ejb/ReservationManagerWebService/reserveRooms/Fault/InvalidUserException"/>
<fault message="tns:InvalidReservationException" name="InvalidReservationException" wsam:Action="http://ws.session.ejb/ReservationManagerWebService/reserveRooms/Fault/InvalidReservationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/ReservationManagerWebService/reserveRooms/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationManagerWebService/reserveRooms/Fault/InputDataValidationException"/>
</operation>
</portType>
<binding name="ReservationManagerWebServicePortBinding" type="tns:ReservationManagerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addReservationItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomTypeException">
<soap:fault name="InvalidRoomTypeException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="searchRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserveRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidRoomException">
<soap:fault name="InvalidRoomException" use="literal"/>
</fault>
<fault name="InvalidUserException">
<soap:fault name="InvalidUserException" use="literal"/>
</fault>
<fault name="InvalidReservationException">
<soap:fault name="InvalidReservationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationManagerWebService">
<port name="ReservationManagerWebServicePort" binding="tns:ReservationManagerWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationManagerWebService/ReservationManagerWebService"/>
</port>
</service>
</definitions>